body{

	padding:15px;
	margin-left:20px;
}
a{
}
.cell:hover{
	background:#90c002;
	font-size:25px;
}
.floorcell{
	padding:3px auto;
	height:40px;
	background:olive;
	border:1px solid DarkGreen;
}
.cell{
	margin:3px 0 0 0;
	font-size: 20px;
	background: #9ACD32;
	color: black;
	padding:3px;
	text-align:center;
	font-weight:600;
}

.info-bar{
	margin-left:15px;
	margin-bottom:40px;
	height: 250px;
	width: 95%;
	border:5px solid DarkCyan;
	background: LightCyan;
	font-size:40px;
}
.arrows-bar{
	width:95%;
}

.right-bar{
}
.left-bar{
	
	background:mocassin;
	background-image:url(../background6.png)
}

.row{
	text-align:center
}

.glyphicon{
	padding:25px 7px 25px 7px;
	color:maroon;
	border:3px solid maroon;
	border-radius:10%;
	background:lightsalmon;
	font-size:200px;
	margin-left:70px;
	margin-bottom:40px;
}
.glyphicon:hover{
	color:firebrick;
	background:darksalmon;
}
#checked{
	background:orange;
}
